[Service]
Restart=on-failure
User=USER
WorkingDirectory=/home/jason/sites/SITENAME/source
ExecStart=/home/jason/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
